@page "/datList/{Id:int}"
@inherits Wally.RomMaster.Pages.DatListDetailsModel

<h1>Dat List @Id</h1>

<p>The DAT file list:</p>

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    @*<Grid TModel="Wally.RomMaster.Models.DatViewModel" Options="@GridOptions" Source="@Source" />*@
    <p>data...</p>
    @ViewModel.Id
    @ViewModel.Name
}
