@page "/datList/{Id:int}"
@inherits Wally.RomMaster.Pages.DatListDetailsModel

<h1>Dat Details: <strong>'@Id'</strong></h1>

@if (IsLoading)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    @ViewModel.Id
    @ViewModel.Name
    @ViewModel.Author
    @ViewModel.Category
    @ViewModel.Date
    @ViewModel.Description
    @ViewModel.Version

    <Grid TModel="Wally.RomMaster.Models.GameViewModel" Options="@GridOptions" Source="@ViewModel.Games"/>
}